

position: absolute;
width: 1639px;
height: 432px;
left: -40px;
top: 7028px;



/* bg */

position: absolute;
width: 1600px;
height: 432px;
left: -40px;
top: 7028px;

background: #37B44D;


/* monday */

position: absolute;
width: 446px;
height: 199px;
left: 85px;
top: 7148px;



/* logo */

position: absolute;
width: 170px;
height: 38.76px;
left: 85px;
top: 7148px;



/* Vector */

position: absolute;
left: 5.85%;
right: 82.45%;
top: 127.69%;
bottom: -28.38%;

background: #FFFFFF;


/* We are a tech partner for those who want to innovate. It’s time for you to focus on growing your business while we take care of building your software. */

position: absolute;
left: 5.85%;
right: 63.45%;
top: 128.69%;
bottom: -30.19%;

font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
/* or 156% */

color: #FFFFFF;

mix-blend-mode: normal;


/* © Monday Labs LLC 2020. All rights reserved */

position: absolute;
left: 5.85%;
right: 67.24%;
top: 130.74%;
bottom: -31.24%;

font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

color: #FFFFFF;

mix-blend-mode: normal;


/* company */

position: absolute;
width: 391px;
height: 214px;
left: 662px;
top: 7137px;



/* About Testimonials Portfolio Services */

position: absolute;
left: 45.56%;
right: 27.53%;
top: 128.6%;
bottom: -31.31%;

font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #FFFFFF;

mix-blend-mode: normal;


/* Company */

position: absolute;
left: 45.56%;
right: 48.11%;
top: 127.49%;
bottom: -28.56%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
/* identical to box height, or 300% */

color: #FFFFFF;

mix-blend-mode: normal;


/* help */

position: absolute;
width: 391px;
height: 214px;
left: 948px;
top: 7137px;



/* Help center Contact support Instructions How it works */

position: absolute;
left: 65.24%;
right: 7.85%;
top: 128.6%;
bottom: -31.31%;

font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #FFFFFF;

mix-blend-mode: normal;


/* Help */

position: absolute;
left: 65.24%;
right: 31.66%;
top: 127.49%;
bottom: -28.56%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
/* identical to box height, or 300% */

color: #FFFFFF;

mix-blend-mode: normal;


/* help */

position: absolute;
width: 391px;
height: 214px;
left: 1208px;
top: 7137px;



/* + 1 320 320 20 20 info@mondaylabs.tech Farmdale Ave 159, Los Angeles, CA, USA */

position: absolute;
left: 83.14%;
right: -10.05%;
top: 128.6%;
bottom: -31.31%;

font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #FFFFFF;

mix-blend-mode: normal;


/* Contacts */

position: absolute;
left: 83.14%;
right: 10.94%;
top: 127.49%;
bottom: -28.56%;

font-family: 'Muli';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 60px;
/* identical to box height, or 300% */

color: #FFFFFF;

mix-blend-mode: normal;
