.navbar-item1 {
    position: absolute;
    lift: 5.71%;
    right: 81%;
    top: 0.14%;
    bottom: 99.07%;
    widows: 193;
    height: 44;
    left: 283;
    top: 8;
}
.button {
    background-color: white;
    color: blue;
    border-radius: 25px;
    border-color: aqua;
    widows: 174px;
    height: 60px;
}
.img {
    position: absolute;
    widows: 519px;
    height: 382px;
    left: 83px;
    top: 253px;
}
.title1{
    text-align: center;
    height: 56px;
    widows: 382px;
    left: 553px;
    top: 937px;
}
/* .column1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.column2{
    display: flex;
    flex-wrap: wrap;
} */
.flex-box{
    display: grid;
}

.flex-box{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}
.box{
    width: 419px;
    height: 424px;
    margin: 30px;
    border-radius: 20px;
    font-family: mulish;
    font-style: normal;
    box-shadow: 10px 40px 50px 0px wese9f666;
}
.title{
    /* padding-left:34px ; */
}
.subtitle{
    padding-bottom:66px;
    padding-left: 30;
    padding-top: 20;
}
.boxing{
    background-color: aqua;
    width: 421;
    height: 426; 
}
.column1{
    margin-top: 100px;
    margin-left: 40px;
}
.css{
    margin-top: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40;
    box-shadow: none;
} 
.card{
    width: 412px;
    margin: 18px;
}
.title2{
    font-weight: 900;
}
.subtitle{

}
.contenent{
    font-weight: 400;
    margin-top: 60px;
}
.container4{
    margin-top: 70px;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box-flex{
    width: 1000px;
    height: 100px;
    box-shadow: -1px 25px 60px 0px rgba(0,0,0,11);
    border-radius: 32px;
}
.br{
    text-align: center;
    margin: 30px;
    font-weight:600;
}
.button2{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    margin-top: 22px;
    background-color: #37844c;
    color: blueviolet;
    border: none;
}

.block {
    display: flex;
}