<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.hasthemes.com/flosun-preview/flosun/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Nov 2020 04:29:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FloSun - Flower Shop HTML5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/vendor/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="/css/vendor/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/css/plugins/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="/css/plugins/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <!--===== Pre-Loading area Start =====-->
    <div id="preloader">
        <div class="preloader">
            <div class="spinner-block">
                <h1 class="spinner spinner-3 mb-0">.</h1>
            </div>
        </div>
    </div>
    <!--==== Pre-Loading Area End ====-->

    <%- include("navbar") %>
    <!-- Header Area End Here -->
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Yangi maxsulot kirirtish</h3>
                        <ul>
                            <li><a href="/">Bosh sahifa</a></li>
                            <li>Yangi maxsulot qoshish</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Register Area Start Here -->
    <div class="login-register-area mt-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        <div class="section-content text-center mb-5">
                            <h2 class="title-4 mb-2">Gul qoshish</h2>
                            <p class="desc-content">Quyidagi malumotlarni kiriting</p>
                        </div>
                        <form action="/admin/gul" method="post">
                            <div class="single-input-item mb-3">
                                <input type="text" placeholder="Atirgul" name="name">
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" placeholder="3200" name="narx">
                            </div>
                            
                            <div style="display: flex ;justify-content: space-around;" class="single-input-item mb-3">
                                
                                <div>
                                    <button  class="btn flosun-button secondary-btn theme-color rounded-0">Qoshish</button>
                                </div>
                               
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Area End Here -->
  
    <%- include("footer") %>

    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- jQuery JS -->
    <script src="/js/vendor/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="/js/plugins/swiper-bundle.min.js"></script>
    <!-- nice select JS -->
    <script src="/js/plugins/nice-select.min.js"></script>
    <!-- Ajaxchimpt js -->
    <script src="/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Ui js -->
    <script src="/js/plugins/jquery-ui.min.js"></script>
    <!-- Jquery Countdown js -->
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/js/main.js"></script>


</body>


<!-- Mirrored from htmldemo.hasthemes.com/flosun-preview/flosun/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Nov 2020 04:29:41 GMT -->
</html>